<section class="newsletter bg-mainPurple">
    <div class="constrained">
        <form class="newsletter__form">
            <h3 class="newsletter__head">Join our Newsletter</h3>
            <p  class="newsletter__blurb">Look out for news about our latest equipment and work and also weekly tips on how to properly manage and maintain the structure of your home or office</p>
            <fieldset class="flex">
                <input type="text" class="bg-transparent border border-white">
                <button type="submit" class="btn">Join</button>
            </fieldset>
        </form>
    </div>
</section>
<section class="footer bg-[#000000AB]">
    <div class="constrained">
        <div class="footer__grid">
            <div class="footer__col">
                <p class="footer__title">About Us</p>
                <ul class="footer__content">
                    <li><p><span class="text-mainOrange">HomeMade Design and construction </span> is  dedicated to providing our clients with the highest quality construction services at a competitive price. We have built a strong reputation for being reliable and consistent in delivering projects on time and within budget. We pride ourselves on being loyal to our customers and providing them with value for money.</p></li>
                </ul>
            </div>
            <div class="footer__col mt-[100px]">
                <p class="footer__title">Site Links</p>
                <ul class="footer__content links">
                    <li>
                        legal Consultation
                    </li>
                    <li>
                        Equipment Rental
                    </li>
                    <li>
                        Request Quote
                    </li>
                    <li>
                        Services
                    </li>
                    <li>
                        Projects
                    </li>
                </ul>

            </div>
            <div class="footer__col  mt-[100px]">
                <p class="footer__title">Company Links</p>
                <ul class="footer__content  links">
                    <li>
                        Careers
                    </li>
                    <li>
                        FAQ's
                    </li>
                    <li>
                        About Us
                    </li>
                    <li>
                        legal Consultation
                    </li>
                </ul>
            </div>
            <div class="footer__col">
                <p class="footer__title">Contacts</p>
                <ul class="footer__content contacts">
                    <li class="flex gap-2 items-start">
                        <img src="/assets/HMDC/geo-alt.svg" alt="image of location icon">
                        <p>Lot 678 Cedarville Drive, St. Catherine, Jamaica</p>
                    </li>
                    <li class="flex gap-2">
                        <img src="/assets/HMDC/envelope.svg" alt="image of email icon">
                        <p>HMDConstruction@hmdc.com</p>
                    </li>
                    <li class="flex gap-2">
                        <img src="/assets/HMDC/phone.svg" alt="image of phone icon">
                        <p>1 (876) 555 5555, 1 (876) 444 4444</p>
                    </li>
                    <li class="flex gap-5 mt-5">
                        <img src="/assets/HMDC/instagram.svg" alt="image of instagram icon">
                        <img src="/assets/HMDC/facebook.svg" alt="image of facebook icon">
                        <img src="/assets/HMDC/twitter.svg" alt="image of twitter icon">
                        <img src="/assets/HMDC/whatsapp.svg" alt="image of whatsapp icon">
                    </li>
                </ul>
            </div>
            
        </div>
        
    </div>
</section>
<section>
    <div class="constrained">
        <div class="copyright">
            <p>Copyright Homemade Designms & Constructions Ltd &copy; 2023 </p>
        </div>
    </div>
</section>
