<header>
    <nav class="constrained">
        <ul class="nav" role="navigation">
            <li title="Homemade Designs & Construction" class="nav__item">
                <a class="nav__link"><img src="/assets/HMDC/HMDC_logo_white.svg" alt="HMDC Logo should be here"></a></li>
            <div class="nav__item-group">
                <li class="nav__item" title="Home" routerLink="/home"><a class="nav__link">HOME</a></li>
                <li class="nav__item" title="About Us" routerLink="/about"><a class="nav__link">ABOUT US</a></li>
                <li class="nav__item" title="Services" routerLink="/home" fragment="services"><a class="nav__link">SERVICES</a></li>
                <li class="nav__item" title="Projects" routerLink="/home" fragment="projects" ><a class="nav__link">PROJECTS</a></li>
                <li class="nav__item" title="Contact Us" routerLink="/contact"><a class="nav__link">CONTACT US</a></li>
            </div>
            <li class="nav__item cta" title="Request Quote" routerLink="/contact" fragment="quoteSection"><button class="btn btn--secondary">REQUEST QUOTE</button></li>
            <li class="hamburger" title="Menu Icon" (click)="toggleNav()"><svg width="40" height="40" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M2.21271 5H17.7873" stroke="#FFFFFF" stroke-width="1.73051" stroke-linecap="round"/>
                <path d="M2.21271 10H17.7873" stroke="#FFFFFF" stroke-width="1.73051" stroke-linecap="round"/>
                <path d="M2.21271 15H17.7873" stroke="#FFFFFF" stroke-width="1.73051" stroke-linecap="round"/>
                </svg>
            </li>
        </ul>
        <div [class]="{'mobile_nav': true, 'active': active}">
            <span class="close_icon" (click)="toggleNav()">
                <svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M11.6161 11.6161C12.1043 11.128 12.8957 11.128 13.3839 11.6161L20 18.2322L26.6161 11.6161C27.1043 11.128 27.8957 11.128 28.3839 11.6161C28.872 12.1043 28.872 12.8957 28.3839 13.3839L21.7678 20L28.3839 26.6161C28.872 27.1043 28.872 27.8957 28.3839 28.3839C27.8957 28.872 27.1043 28.872 26.6161 28.3839L20 21.7678L13.3839 28.3839C12.8957 28.872 12.1043 28.872 11.6161 28.3839C11.128 27.8957 11.128 27.1043 11.6161 26.6161L18.2322 20L11.6161 13.3839C11.128 12.8957 11.128 12.1043 11.6161 11.6161Z" fill="white"/>
                    </svg>                    
            </span>
            <ul class="mobile_nav__group">
                <li class="mobile_nav__item" title="Home" routerLink="/home"><a class="nav__link">HOME</a></li>
                <li class="mobile_nav__item" title="About Us" routerLink="/about"><a class="nav__link">ABOUT US</a></li>
                <li class="mobile_nav__item" title="Services" routerLink="/home" fragment="services"><a class="nav__link">SERVICES</a></li>
                <li class="mobile_nav__item" title="Projects" routerLink="/home" fragment="projects"><a class="nav__link">PROJECTS</a></li>
                <li class="mobile_nav__item" title="Contact Us" routerLink="/contact"><a class="nav__link">CONTACT US</a></li>
                <li class="mobile_nav___item" title="Request Quote"routerLink="/contact" fragment="quoteSection"><button class="btn btn--tertiary">REQUEST QUOTE</button></li>

            </ul>
        </div>
    </nav>
</header>
<section class="hero">
    <div class="constrained flex items-center h-full w-full">
            <div class="intro text-white z-[3] w-full px-5 sm:w-3/4 m-auto text-center">

                <h1 class="text-5xl font-bold mb-5 leading-[3.5rem]">Quality Meets 
                    Affordability.</h1>
                <p class="w-full text-lg font-thin sm:w-3/4 m-auto tracking-wide">
                    Are you looking for a construction service that's both affordable and of high quality? Look no further! Our construction service is the perfect solution. We provide a wide range of services including new builds, renovations, extensions and more. All our projects are completed with excellent craftsmanship and attention to detail, while providing competitive prices that won't break the bank.
                </p>
            </div>

    </div>
</section>
<section class="services px-5" id="services">
    <div class="constrained">

        <h2 class="heading">Services we offer</h2>
        <section class="text-gray-600 body-font grid_services">
            <div class="container px-5 py-24 mx-auto">
              
              <div class="flex flex-wrap sm:-m-4 -mx-4 -mb-10 -mt-4">
                <div class="p-4 md:w-1/3 sm:mb-0 mb-6" *ngFor="let service of services">
                  <div class="rounded-lg h-64 overflow-hidden">
                    <img alt="content" class="object-cover object-center h-full w-full" [src]="service.img">
                  </div>
                  <h2 class="text-xl font-medium title-font text-mainOrange mt-5 text-center">{{service.title}}</h2>
                  <p class="text-base leading-relaxed mt-2 text-center">{{service.desc}}</p>
                </div>
               
                 
              </div>
            </div>
          </section>

        <div class="hexagon">
            <!-- <div class="shards">
                <div class="service__shard"></div>
            <div class="service__shard"></div>
            <div class="service__shard"></div>
            <div class="service__shard"></div>
            <div class="service__shard"></div>
            <div class="service__shard"></div>
            </div> -->
            <div class="service">
                <p class="service__title">General Construction</p>
                <p class="service__desc">We have a wide array of contractor and workers with excellent workmanship to ensure your construction project is realized.</p>
            </div>
            <div class="service">
                <p class="service__title">Equipment Rental</p>
                <p class="service__desc">There is no need to purchase equipment that you may only use once. We rent all construction equipment , both small and heavy duty.</p>
            </div>
            <div class="service">
                <p class="service__title">Construction Planning & Design</p>
                <p class="service__desc">Drawing up plans and models for your dream home,
                    we aim to ensure that you have a clear idea of how the finished product will turn out </p>
            </div>
            <div class="service">
                <p class="service__title">Transportation Solution</p>
                <p class="service__desc">Moving into your new home could never have been this easy. Take advantage of our moving and transportation  service.</p>
            </div>
            <div class="service">
                <p class="service__title">Legal Consultation</p>
                <p class="service__desc">Our legal team will happily assist with beneficial advice and service to assist with purchase and selling you construction project.</p>
            </div>
            <div class="service">
                <p class="service__title">Building Maintenance</p>
                <p class="service__desc">We also perform construction maintenance to already created projects, make the project looks as good as new.</p>
            </div>
            <img src="/assets/HMDC/hexagon.svg" alt="this is a hexagon">
        </div>
    </div>
</section>
<section class="statistics">
    <div class="constrained">
        <div class="statistic flex">
            <p class="statistic__num">400+</p>
            <p class="statistic__name">Total Workers</p>
            <p class="statistic__desc">With our large labor force, we are confident to be able to complete your project within the shortest possible timeframe.</p>
        </div>
        <div class="statistic">
            <p class="statistic__num">15+</p>
            <p class="statistic__name">Years of Experience</p>
            <p class="statistic__desc">With our large labor force, we are confident to be able to complete your project within the shortest possible timeframe.</p>
        </div>
        <div class="statistic">
            <p class="statistic__num">50+</p>
            <p class="statistic__name">Completed Projects</p>
            <p class="statistic__desc">With our large labor force, we are confident to be able to complete your project within the shortest possible timeframe.</p>
        </div>
    </div>
</section>
<section class="projects" id="projects">
    <div class="constrained">
        <h2 class="heading">Some of our work</h2>
        <p class="w-full sm:w-3/4 mt-10">With our experienced professionals and top-of-the-line materials, you can rest assured that your project will be completed in a timely manner and with the highest standards of quality. Our customers are consistently satisfied with the end result, giving us an average rating of 4.8 out of 5 stars!</p>
        <div class="carousel mt-10">
            <div class="carousel__wrapper" #carousel_wrapper>
                <div class="carousel__slide" *ngFor="let project of projects">
                    <img src="{{project.img}}" alt="first_img">

                </div>
                

                
            </div>
            <div class="carousel__controls">
                <button [class]="{'arrow-right':true, 'hidden':this.index == 5}" #next data-toggle="collapse" data-target="#" (click)="nextSlide()"><svg width="35" height="35" viewBox="0 0 35 35" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M8.75 17.5C8.75 16.8959 9.23969 16.4062 9.84375 16.4062H22.5157L17.8204 11.7109C17.3932 11.2838 17.3932 10.5912 17.8204 10.1641C18.2475 9.73696 18.94 9.73696 19.3671 10.1641L25.9296 16.7266C26.3568 17.1537 26.3568 17.8463 25.9296 18.2734L19.3671 24.8359C18.94 25.263 18.2475 25.263 17.8204 24.8359C17.3932 24.4088 17.3932 23.7162 17.8204 23.2891L22.5157 18.5937H9.84375C9.23969 18.5937 8.75 18.1041 8.75 17.5Z" fill="white"/>
                    </svg>
                    </button>
                <button [class]="{'arrow-left':true, 'hidden':this.index == 0}" (click)="previousSlide()"#prev>
                    <svg width="35" height="35" viewBox="0 0 35 35" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M26.25 17.5C26.25 16.8959 25.7603 16.4062 25.1562 16.4062H12.4843L17.1796 11.7109C17.6068 11.2838 17.6068 10.5912 17.1796 10.1641C16.7525 9.73696 16.06 9.73696 15.6329 10.1641L9.07035 16.7266C8.64322 17.1537 8.64322 17.8463 9.07035 18.2734L15.6329 24.8359C16.06 25.263 16.7525 25.263 17.1796 24.8359C17.6068 24.4088 17.6068 23.7162 17.1796 23.2891L12.4843 18.5937H25.1562C25.7603 18.5937 26.25 18.1041 26.25 17.5Z" fill="white"/>
                        </svg>
                        
                </button>
            </div>
        </div>
        <div class="carousel__details max-w-[480px] mx-auto flex-col flex items-center">
            <div class="carousel__slide-detail">
                <div>
                    <span class="title">Project Name</span>
                    <span class="font-thin">{{projects[this.index].name}}</span>
                </div>
                <div>
                    <span class="title">Duration</span>
                    <span class="font-thin">{{projects[this.index].duration}}</span>
                </div>
                <div>
                    <span class="title">Work</span>
                    <span class="font-thin">{{projects[this.index].work}}</span>
                </div>
            </div>
            <div class="carousel__indicators">
                <span [class]="{'indicator': true, 'active': this.index === val}" *ngFor="let project of projects; let val = index"></span>
            </div>
            

        </div>
    </div>
</section>
<section class="testimonials pl-0 mt-[20vh]">
    <div class="constrained  testimonial_section">
        <div class="relative head-section">
            <img src="/assets/HMDC/large-home-g6c9303983_1280.jpg" alt="" class="h-screen object-cover">
            <div class="bubbled">
                <h2 class="heading">Testimonials</h2>
            </div>
        </div>
        <div class="testimonials__group">
            <div class="testimonial">
                <p class="testimonial__title">Paul Matthews</p>
                <p class="testimonial__desc">“ I am so glad we chose to work with Homemade Designs & Construction. They were so friendly and hardworking throughout the entire process. They were always on time, provided us with detailed information, and always made sure that the job was done right the first time. We are so thankful for their reliability and consistency; they exceeded my expectations! ”</p>
            </div>
            <div class="testimonial">
                <p class="testimonial__title">Zack Newman</p>
                <p class="testimonial__desc">“I had the pleasure of working with Homemade Design and Construction on a recent project. The entire process was incredibly smooth and stress-free. They were incredibly hardworking, consistent, friendly, timely and detail-oriented. I felt confident that they had my best interest in mind throughout the process. Their work was reliable, of the highest quality, and met all of my expectations. I highly recommend them for any construction project!”</p>
            </div>
        </div>
    </div>
</section>
<app-footer></app-footer>