<header>
    <nav class="constrained">
        <ul class="nav" role="navigation">
            <li title="Homemade Designs & Construction" class="nav__item">
                <a class="nav__link"><img src="/assets/HMDC/HMDC_logo_white.svg" alt="HMDC Logo should be here"></a></li>
            <div class="nav__item-group">
                <li class="nav__item"><a class="nav__link">HOME</a></li>
                <li class="nav__item"><a class="nav__link">ABOUT US</a></li>
                <li class="nav__item"><a class="nav__link">SERVICES</a></li>
                <li class="nav__item"><a class="nav__link">PROJECTS</a></li>
                <li class="nav__item"><a class="nav__link">CONTACT US</a></li>
            </div>
            <li class="nav__item"><button class="btn btn--secondary">REQUEST QUOTE</button></li>
        </ul>
    </nav>
</header>
<section class="hero">
    <div class="constrained flex items-center h-full w-full">
            <div class="intro text-white z-[3] w-1/2 m-auto text-center">

                <h1 class="text-5xl font-bold mb-3">Quality Meets 
                    Affordability.</h1>
                <p class="w-3/4 m-auto tracking-wide">
                    Are you looking for a construction service that's both affordable and of high quality? Look no further! Our construction service is the perfect solution. We provide a wide range of services including new builds, renovations, extensions and more. All our projects are completed with excellent craftsmanship and attention to detail, while providing competitive prices that won't break the bank.
                </p>
            </div>

    </div>
</section>
<section class="services px-5">
    <div class="constrained">

        <h2 class="heading">Services we offer</h2>

        <div class="hexagon">
            <!-- <div class="shards">
                <div class="service__shard"></div>
            <div class="service__shard"></div>
            <div class="service__shard"></div>
            <div class="service__shard"></div>
            <div class="service__shard"></div>
            <div class="service__shard"></div>
            </div> -->
            <div class="service">
                <p class="service__title">General Construction</p>
                <p class="service__desc">We have a wide array of contractor and workers with excellent workmanship to ensure your construction project is realized.</p>
            </div>
            <div class="service">
                <p class="service__title">Equipment Rental</p>
                <p class="service__desc">There is no need to purchase equipment that you may only use once. We rent all construction equipment , both small and heavy duty.</p>
            </div>
            <div class="service">
                <p class="service__title">Construction Planning and Design</p>
                <p class="service__desc">Drawing up plans and models for your dream home,
                    we aim to ensure that you have a clear idea of how the finished product will turn out </p>
            </div>
            <div class="service">
                <p class="service__title">Transportation Solution</p>
                <p class="service__desc">Moving into your new home could never have been this easy. Take advantage of our moving and transportation  service.</p>
            </div>
            <div class="service">
                <p class="service__title">Legal Consultation</p>
                <p class="service__desc">Our legal team will happily assist with beneficial advice and service to assist with purchase and selling you construction project.</p>
            </div>
            <div class="service">
                <p class="service__title">Building Maintenance</p>
                <p class="service__desc">We also perform construction maintenance to already created projects, make the project looks as good as new.</p>
            </div>
            <img src="/assets/HMDC/hexagon.svg" alt="this is a hexagon">
        </div>
    </div>
</section>
<section class="statistics">
    <div class="constrained">
        <div class="statistic">
            <p class="statistic__num">400+</p>
            <p class="statistic__name">Total Workers</p>
            <p class="statistic__desc">With our large labor force, we are confident to be able to complete your project within the shortest possible timeframe.</p>
        </div>
        <div class="statistic">
            <p class="statistic__num">15+</p>
            <p class="statistic__name">Years of Experience</p>
            <p class="statistic__desc">With our large labor force, we are confident to be able to complete your project within the shortest possible timeframe.</p>
        </div>
        <div class="statistic">
            <p class="statistic__num">50+</p>
            <p class="statistic__name">Completed Projects</p>
            <p class="statistic__desc">With our large labor force, we are confident to be able to complete your project within the shortest possible timeframe.</p>
        </div>
    </div>
</section>
<section class="projects">
    <h2 class="heading">Some of our work</h2>
    <p class="w-3/4 mt-10">With our experienced professionals and top-of-the-line materials, you can rest assured that your project will be completed in a timely manner and with the highest standards of quality. Our customers are consistently satisfied with the end result, giving us an average rating of 4.8 out of 5 stars!</p>
    <div class="carousel mt-10">
        <div class="carousel__wrapper flex">
            <div class="carousel__slide prev">
                <img src="assets/HMDC/large-home-g6c9303983_1280.jpg" alt="first_img">

            </div>
            <div class="carousel__slide active">
                <img src="assets/HMDC/architecture-gba45d817b_1920.jpg" alt="second_img">

            </div>
            <div class="carousel__slide next">
                <img src="assets/HMDC/restored-home-gd237d4e09_1920.jpg" alt="third_img">

            </div>
            <!-- <div class="carousel__slide">
                <img src="assets/HMDC/construction-g68122eaac_1920.jpg" alt="fourth_img">

            </div>
            <div class="carousel__slide">
                <img src="assets/HMDC/sa-rapita-gcf8a1a55e_1920.jpg" alt="fifth_img">

            </div>
            <div class="carousel__slide">
                <img src="assets/HMDC/large-home-g6c9303983_1280.jpg" alt="sixth_img">

            </div> -->

            <div class="carousel__indicators">

            </div>

            <div class="carousel__controls">
                <button class="arrow-left" data-toggle="collapse" data-target="#"><svg width="35" height="35" viewBox="0 0 35 35" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M8.75 17.5C8.75 16.8959 9.23969 16.4062 9.84375 16.4062H22.5157L17.8204 11.7109C17.3932 11.2838 17.3932 10.5912 17.8204 10.1641C18.2475 9.73696 18.94 9.73696 19.3671 10.1641L25.9296 16.7266C26.3568 17.1537 26.3568 17.8463 25.9296 18.2734L19.3671 24.8359C18.94 25.263 18.2475 25.263 17.8204 24.8359C17.3932 24.4088 17.3932 23.7162 17.8204 23.2891L22.5157 18.5937H9.84375C9.23969 18.5937 8.75 18.1041 8.75 17.5Z" fill="white"/>
                    </svg>
                    </button>
                <button class="arrow-right">
                    <svg width="35" height="35" viewBox="0 0 35 35" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M26.25 17.5C26.25 16.8959 25.7603 16.4062 25.1562 16.4062H12.4843L17.1796 11.7109C17.6068 11.2838 17.6068 10.5912 17.1796 10.1641C16.7525 9.73696 16.06 9.73696 15.6329 10.1641L9.07035 16.7266C8.64322 17.1537 8.64322 17.8463 9.07035 18.2734L15.6329 24.8359C16.06 25.263 16.7525 25.263 17.1796 24.8359C17.6068 24.4088 17.6068 23.7162 17.1796 23.2891L12.4843 18.5937H25.1562C25.7603 18.5937 26.25 18.1041 26.25 17.5Z" fill="white"/>
                        </svg>
                        
                </button>
            </div>
        </div>
    </div>
</section>
<section class="testimonials pl-0 mt-[20vh]">
    <div class="constrained  grid grid-cols-2">
        <div class=" w-3/4 relative">
            <img src="/assets/HMDC/large-home-g6c9303983_1280.jpg" alt="" class="h-screen object-cover">
            <div class="bubbled">
                <h2 class="heading">Testimonials</h2>
            </div>
        </div>
        <div class="testimonials__group">
            <div class="testimonial">
                <p class="testimonial__title">Paul Matthews</p>
                <p class="testimonial__desc">“ I am so glad we chose to work with Homemade Designs & Construction. They were so friendly and hardworking throughout the entire process. They were always on time, provided us with detailed information, and always made sure that the job was done right the first time. We are so thankful for their reliability and consistency; they exceeded my expectations! ”</p>
            </div>
            <div class="testimonial">
                <p class="testimonial__title">Zack Newman</p>
                <p class="testimonial__desc">“I had the pleasure of working with Homemade Design and Construction on a recent project. The entire process was incredibly smooth and stress-free. They were incredibly hardworking, consistent, friendly, timely and detail-oriented. I felt confident that they had my best interest in mind throughout the process. Their work was reliable, of the highest quality, and met all of my expectations. I highly recommend them for any construction project!”</p>
            </div>
        </div>
    </div>
</section>
<section class="newsletter bg-mainPurple">
    <div class="constrained">
        <form class="newsletter__form">
            <h3 class="newsletter__head">Join our Newsletter</h3>
            <p  class="newsletter__blurb">Look out for news about our latest equipment and work and also weekly tips on how to properly manage and maintain the structure of your home or office</p>
            <fieldset class="flex">
                <input type="text" class="bg-transparent border border-white">
                <button type="submit" class="btn">Join</button>
            </fieldset>
        </form>
    </div>
</section>
<section class="footer bg-[#000000AB]">
    <div class="constrained">
        <div class="footer__grid">
            <div class="footer__col">
                <p class="footer__title">About Us</p>
                <ul class="footer__content">
                    <li><p><span class="text-mainOrange">HomeMade Design and construction </span> is  dedicated to providing our clients with the highest quality construction services at a competitive price. We have built a strong reputation for being reliable and consistent in delivering projects on time and within budget. We pride ourselves on being loyal to our customers and providing them with value for money.</p></li>
                </ul>
            </div>
            <div class="footer__col mt-[100px]">
                <p class="footer__title">Site Links</p>
                <ul class="footer__content links">
                    <li>
                        legal Consultation
                    </li>
                    <li>
                        Equipment Rental
                    </li>
                    <li>
                        Request Quote
                    </li>
                    <li>
                        Services
                    </li>
                    <li>
                        Projects
                    </li>
                </ul>

            </div>
            <div class="footer__col  mt-[100px]">
                <p class="footer__title">Company Links</p>
                <ul class="footer__content  links">
                    <li>
                        Careers
                    </li>
                    <li>
                        FAQ's
                    </li>
                    <li>
                        About Us
                    </li>
                    <li>
                        legal Consultation
                    </li>
                </ul>
            </div>
            <div class="footer__col">
                <p class="footer__title">Contacts</p>
                <ul class="footer__content contacts">
                    <li class="flex gap-2 items-start">
                        <img src="/assets/HMDC/geo-alt.svg" alt="image of location icon">
                        <p>Lot 678 Cedarville Drive, St. Catherine, Jamaica</p>
                    </li>
                    <li class="flex gap-2">
                        <img src="/assets/HMDC/envelope.svg" alt="image of email icon">
                        <p>HMDConstruction@hmdc.com</p>
                    </li>
                    <li class="flex gap-2">
                        <img src="/assets/HMDC/phone.svg" alt="image of phone icon">
                        <p>1 (876) 555 5555, 1 (876) 444 4444</p>
                    </li>
                    <li class="flex gap-5 mt-5">
                        <img src="/assets/HMDC/instagram.svg" alt="image of instagram icon">
                        <img src="/assets/HMDC/facebook.svg" alt="image of facebook icon">
                        <img src="/assets/HMDC/twitter.svg" alt="image of twitter icon">
                        <img src="/assets/HMDC/whatsapp.svg" alt="image of whatsapp icon">
                    </li>
                </ul>
            </div>
            
        </div>
        
    </div>
</section>
<section>
    <div class="constrained">
        <div class="copyright">
            <p>Copyright Homemade Designms & Constructions Ltd &copy; 2023 </p>
        </div>
    </div>
</section>